* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

a {
    text-decoration-line: none;
    color: #0E0E0E;
}

header {
    background-color: #FBFBFB;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

#logo {
    display: flex;
    width: 15vw;
    height: 10vh;
}

.lista-link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration-line: none;
    font-size: 0.8rem;
    column-gap: 3vw;
}

.navegacao {
    background-color: #0E0E0E;
    height: 70vh;
    width: 15vw;
    border-bottom: 1px solid black;
}

.links-navegacao {
    font-family: poppins, sans-serif;
    text-decoration-line: none;
    color: #707070;
    font-size: 0.8rem;
    padding-left: 20%;
    line-height: 3rem;
}

.links-navegacao:hover {
    color: #Ffffff;
    font-size: 0.9rem;
}

main {
    display: flex;
    background-color: #F6C34A;
}

#card-turma {
    width: 70%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 15%;
}

#container-turmas {
    height: 70vh;
    width: 85vw;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-top: 10%;
    height: 5vh;
    width: 15vw;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

#button {
    background-color: #0E0E0E;
    color: #Ffffff;
    height: 5vh;
    width: 5vw;
    margin-left: -0.25vw;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.box-turmas {
    background-color: #Ffffff;
    font-family: Open sans;
    font-size: 0.7rem;
    padding: 3% 7%;
    height: 100%;
    width: 66%;
    border-radius: 5px;
}

.titulo-turmas {
    text-align: center;
}

#container-footer {
    background-color: #F6C34A;
    height: 45vh;
    display: flex;
    align-items: center;
    column-gap: 6vw;
}

.logo-footer img {
    height: 6vh;
    width: 10vw;
}

.logo-footer {
    padding: 0.5vh 0vw 0.5vh 14.2vw;
    margin-top: -8%;
}

.logo-rs img {
    height: 5vh;
    width: 15%;
    margin-top: ;
}

.address {
    padding-left: 14.5vw;
}

.mapouter {
    margin-left: 12.5rem;
    position: relative;
    border: 1px solid black;
}

.links-footer {
    font-family: open sans;
    font-size: 0.7rem;
    color: #0E0E0E;
}

.titulo-link {
    margin-top: -0.9vh;
    margin-left: -1vw;
    line-height: 2;
}

.titulo-rs {
    margin-top: -15.5vh;
}

.titulo-ar {
    margin-top: -16vh;
    line-height: 2;
}