* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

a {
    text-decoration-line: none;
    color: #0E0E0E;
}

header {
    background-color: #FBFBFB;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

#logo {
    display: flex;
    width: 15vw;
    height: 10vh;
}

.lista-link {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    text-decoration-line: none;
    font-size: 0.8rem;
    column-gap: 3vw;
}

#whatsapp {
    height: 20vh;
    width: 4vw;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
}

#contato {
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}

.formulario {
    background-color: #FBFBFB;
    height: 50%;
    grid-column: 2/3;
    padding: 6vh 2vw;
    margin: 15vh 0;
    border-radius: 5px;
    line-height: 1.5rem;
}

.input {
    width: 15vw;
}

.botao-enviar {
    width: 15vw;
    height: 5vh;
    background-color: #F6C34A;
    border: 0px;
    cursor: pointer;
}

.textarea {
    text-align: left;
    width: 15vw;
    height: 15vh;
}

#container-footer {
    background-color: #F6C34A;
    height: 45vh;
    display: flex;
    
    align-items: center;
    column-gap: 6vw;

}

.logo-footer img {
    
    height: 6vh;
    width: 10vw;
}

.logo-footer {
    padding: 0.5vh 0vw 0.5vh 14.2vw;
    margin-top: -8%;
}

.logo-rs img {
    height: 5vh;
    width: 15%;
    margin-top: ;
}

.address {
    padding-left: 14.5vw;
}

.mapouter {
    margin-left: 12.5rem;
    position: relative;
    border: 1px solid black;
}

.links-footer {
    font-family: open sans;
    font-size: 0.7rem;
    color: #0E0E0E;
}

.titulo-link {
    margin-top: -0.9vh;
    margin-left: -1vw;
    line-height: 2;
}

.titulo-rs {
    margin-top: -15.5vh;
}

.titulo-ar {
    margin-top: -16vh;
    line-height: 2;
}